<h2>Bienvenue</h2>

<article>
    <h3>Gestion du DOM</h3>

    <h4><span>Objectif : Utiliser les méthodes concernées</span></h4>
    <p>Comprendre et appliquer les méthodes de sélection d'objets HTML et accéder aux éléments qui leurs sont rattachés.</p>
</article>
