*{box-sizing:border-box;}
html, body{font-size:13px; padding:0; margin:0;}
body{color:#73879C; background:#dee4f0; font-family:Arial, sans-serif; font-weight:normal; line-height:1.5em;}
div.container{max-width:600px; margin:auto;}
header, main, footer{display:block; background:#fff; border:1px solid #E6E9ED; padding:10px 20px; margin:10px;}
header{height:130px;}
footer{height:40px;}
nav{flex:1; margin:0.67em 0;}
main {padding: 10px 20px 0; min-height:calc(100vh - 212px);}

h1{line-height:1.1em; text-align:center; background-color:#f8f8ff; margin:0; padding:14px 0}
h2{border-bottom:1px solid #ddd;}
a{color:#5A738E;;}

header nav > ul{margin:0; padding:0; list-style:none; display:flex;}
header nav > ul li{flex:1;}
header nav > ul li a{text-decoration: none; color:rgb(0, 0, 0); display:block; line-height:44px; border-right:1px solid #eee; text-align:center;}
header nav > ul li a:hover{background:rgba(200, 200, 200, 0.1);}
header nav > ul li:last-child a{border-right:none;}
